$carousel-height: 100vh;
$control-size: 50px;

body {
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.custom-carousel {
  width: 100vw;
  height: $carousel-height;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  
  &:hover .controls {
    opacity: 1;
  }
  
  .controls {
    opacity: 0;
    display: flex;
    position: absolute;
    top: 50%;
    left: 0;
    justify-content: space-between;
    width: 100%;
    z-index: 99999;
    transition: all ease 0.5s;
    
    .control {
      margin: 0 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.7);
      opacity: .5;
      transition: ease .3s;
      cursor: pointer;
      
      &:hover {
        opacity: 1;
      }
    }
  }
  
    .slides {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      display: flex;
      width: 100%;
      transition: 1s ease-in-out all;
      
      .slide {
        min-width: 100%;
        min-height: $carousel-height;
        height: auto;
      }
      .row{
          margin-left: 0!important;
          margin-right: 0!important;

          .col-12, .col-lg-4, .col-md-3{
                padding-left: 0!important;
                padding-right: 0!important;

                .carousel-caption {
                    transform: translateY(-50%);
                    bottom: 0;
                    top: 50%;
                  }
          }
      }
    }
}
