<div class='overlay-container' {{did-insert this.waterfall}}>
  <button class='reset' {{action 'reset'}}>Start</button>
  <button class="" {{action 'hide'}}>Hide</button>
  <div class='row'>
    <div class='col-3 tile animate-slidein'></div>
    <div class='col-3 tile animate-slidein'></div>
    <div class='col-3 tile animate-slidein'></div>
    <div class='col-3 tile animate-slidein'></div>
  </div>
</div>