{{page-title "LiquidFirePractice"}}
{{!-- <nav>
    <ul>
        <li>{{#link-to "application"}}Home{{/link-to}}</li>
        <li>{{#link-to "people"}}People{{/link-to}}</li>
        <li>{{#link-to "people.detail"}}Detail{{/link-to}}</li>
    </ul>
</nav> --}}

<main>
    {{liquid-outlet}}
    {{!-- {{outlet}} --}}
</main>