{{page-title "People"}}
{{!-- <nav>
    <ul>
        <li>{{#link-to "people"}}Index{{/link-to}}</li>
        <li>{{#link-to "people.detail"}}Detail{{/link-to}}</li>
    </ul>
</nav> --}}

<main>
    {{liquid-outlet}}
    {{!-- {{outlet}} --}}
</main>